{% load static %}
<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="{% static 'img/super_riya.png'%}" alt="my_image" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Supriya Jain</a></h1>
      <div class="social-links mt-3 text-center">
        <!--<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>-->
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/in/supriya-s-a39248215/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <!--<div class="credits">
          Github <a href="https://github.com">My Github Link</a>
        </div>-->
      </div>
    </div>

    <nav class="nav-menu text-left">
      <ul>
        <li class="active"> 
          <a href="/myportfolio">
            <span class="side-icon"><i class="bx bx-home"></i></span> 
            <span class="side-text">Home</span>
          </a></li>
        <li>
          <a href="#about">
            <span class="side-icon">
              <i class="bx bx-user"></i> 
            </span>
            <span class="side-text">About</span>
          </a>
        </li>
        <li>
          <a href="#resume">
            <span class="side-icon">
              <i class="bx bx-file-blank"></i> 
            </span>
            <span class="side-text">Resume</span>
          </a>
        </li>
        <li>
          <a href="#portfolio">
            <span class="side-icon">
              <i class="bx bx-book-content"></i>
            </span>
            <span class="side-text"> Portfolio</span>
          </a>
        </li>
        <li>
          <a href="#testimonials">
            <span class="side-icon">
              <i class="bx bx-like"></i> 
            </span>
            <span class="side-text">Testimonials</span>
          </a>
        </li>
        <li>
          <a href="#contact">
            <span class="side-icon">
              <i class="bx bx-envelope"></i> 
            </span>
            <span class="side-text">Contact</span>
          </a>
        </li>

      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header><!-- End Header -->