{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>I am a professional freelance Web Developer, Front End Developer.I have over 3+ years of experience in Developing Websites using latest technology such as Django, Angular, Bootstrap etc. and Deploy an Applications using Docker.I have  worked with multiple clients based in India and UK.</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'img/my_img.jpeg'%}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Front End Developer &amp; Web Developer.</h3>
        <p>
          Implement responsible web design principles to ensure that our company website renders well across multiple devices.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 28 July 1992</li>
              <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.supriys.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> 07587834070</li>
              <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Stevenage, UK</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 29</li>
              <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Graduation</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> supriya2872@gmail.com</li>
              <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> NA</li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</section><!-- End About Section -->


<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Skills</h2>
      <p>
      </p>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6" data-aos="fade-up">

        <div class="progress">
          <span class="skill">HTML <i class="val">95%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">JavaScript <i class="val">65%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Angular <i class="val">60%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <div class="progress">
          <span class="skill">Django <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">WordPress/shopify/magento/CMS <i class="val">60%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Sketch <i class="val">65%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Docker <i class="val">70%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- End Skills Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>
        Over the past 3.5 years, as a Front-end Developer/ Web Developer, I have designed, developed, and launched customized, highly responsive websites using advanced technologies. 
      </p>
        <p>
          <a href="#" class="training">
            <span>Professional Training </span><img src="https://cdn.freebiesupply.com/logos/large/2x/sketch-2-logo-png-transparent.png" width="30px" height="30px">
          </a>
        </p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Sumary</h3>
        <div class="resume-item pb-0">
          <h4>Supriya</h4>
          <p><em>Experienced Front-End Web Developer with over 3.5 year of experience planning, coding, testing , deploying and maintaining websites. </em></p>
          <ul>
            <li>Stevenage, UK</li>
            <li>(123) 456-7891</li>
            <li>supriya2872@gmail.com</li>
          </ul>
        </div>

        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Graduated in B.SC.IT</h4>
          <h5>2014 - 2016</h5>
          <p><em>Sikkim Manipal University, Mumbai, India</em></p>
          <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
        </div>
        <div class="resume-item">
          <h4>Diploma In IT</h4>
          <h5>2008 - 2011</h5>
          <p><em>Dr.DY.Patil Institute, Mumbai, India</em></p>
          <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Web Developer</h4>
          <h5>Feb2019 - Nov2020</h5>
          <p><em>Freelancer </em></p>
          <ul>
            <li>Developed websites using  HTML, CSS, JavaScript, Bootstrap
            Implemented enhancements that improved web functionality and responsiveness.</li>
            <li>Designed and maintained client websites, using  Angular, Django Framework and content management systems including Magento. </li>
            <li>Deployed and manage websites on AWS (Amazon Web Services)</li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Front End Developer</h4>
          <h5>July2017 - Jan2019</h5>
          <p><em>GOPBN Pvt.Ltd – Mumbai, India</em></p>
          <ul>
            <li>Responsible for working on a range of projects, designing websites and interacting on a daily basis with graphic designers, back-end developers.</li>
            <li>Designed and maintained websites, using Bootstrap, Gridder, Angular and content management systems including WordPress, Shopify.</li>
            <li>Presented web-site mock-ups to clients to give them better view Experience.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <!--<li data-filter=".filter-app">App</li>-->
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/webpic.png'%}" class="img-fluid" alt="Skyrth International services">
              <a href="https://skyrth.co.in/" target="_blank">
                <div class="hover">
                    <p class="title">Skyrth International services</p>
                    <p class="link">www.skyrth.co.in</p>
                </div>
              </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/cardpic2.png'%}" class="img-fluid" alt="bigcard2">
            <div class="hover">
                <a href="{% static 'img/portfolio/cardpic2.png'%}" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </DIV>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/webpic2.png'%}" class="img-fluid" alt="Beyond Justice Foundation">
            <a href="https://www.beyondjustice.in/" target="_blank">
              <div class="hover">
                  <p class="title">Beyond Justice Foundation</p>
                  <p class="link">www.beyondjustice.in</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/card8.png'%}" height="120px" class="img-fluid" alt="card">
            <div class="hover">
              <a href="{% static 'img/portfolio/card8.png'%}" height="120px" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/cardpic.png'%}" class="img-fluid" alt="bigcard">
            <div class="hover">
              <a href="{% static 'img/portfolio/bigcard.png'%}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/webpic3.png'%}" class="img-fluid" alt="DRNK coffee + tea">
              <a href="https://drnkcoffee.com/" target="_blank">
              <div class="hover">
                  <p class="title">DRNK coffee + tea</p>
                  <p class="link">www.skyrth.co.in</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/webpic4.png'%}" class="img-fluid" alt="DRNK coffee + tea">
              <a href="https://yasupplies.co.uk/" target="_blank">
              <div class="hover">
                  <p class="title">YA Supplies</p>
                  <p class="link">www.yasupplies.co.uk</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-layer">
          <div class="portfolio-wrap">
            <img src="{% static 'img/portfolio/cardpic3.png'%}" class="img-fluid" alt="bigcard">
            <div class="hover">
              <a href="{% static 'img/portfolio/cardpic3big.png'%}" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container">

    <!--<div class="section-title">
      <h2>Testimonials</h2>
      <p>What My Client Said?</p>
    </div>-->

    <div class="testimonial-section">
        <div class="testi-user-img">
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <img class="u2" src="{% static 'img/vaibhavimg.jpeg'%}" alt="clientimg">
              </div>
              <div class="swiper-slide">
                  <img class="u1" src="{% static 'img/A K Dolas.jpeg'%}" alt="clientimg">
              </div>
             <!-- <div class="swiper-slide">
                <img class="u2" src="{% static 'img/vaibhavimg.jpeg'%}" alt="clientimg">
              </div>
              <div class="swiper-slide">
                  <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt="">
              </div>
              <div class="swiper-slide">
                  <img class="u1" src="{% static 'img/portfolio/portfolio-2.jpg'%}" alt="">
              </div>
              <div class="swiper-slide">
                <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt="">
              </div>-->
            </div>
          </div>
        </div>
        <div class="user-saying">
          <div class="swiper-container testimonial">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper ">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="quote">
                      <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                      <p>
                        Many thanks to Supriya who help & executed on this wonderful project. By far, this is the best web development team I have worked with. I'm so glade to have your team and yourself to handle this project and I look forward to future collaborations.
                      </p>
                      <div class="name">-Vaibhav Bharti-</div>
                      <div class="designation">Director</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="quote">
                      <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                      <p>
                        Thanks for building the exact thing I was imaging of. You helped me to get my imagination in reality & now I'm abile to easily publish my studies & work across globe via internate.
                      </p>
                      <div class="name">-Arun Kumar Dolas-</div>
                      <div class="designation">Director</div>
                    </div>
                </div>
                <!--<div class="swiper-slide">
                  <div class="quote">
                    <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                    <p>
                      This is best and biggest unified platform
                      for instant online admission. We can easily
                      take admission for any course in any institute.
                    </p>
                    <div class="name">-Ramkishor Verma-</div>
                    <div class="designation">University Student</div>
                  </div>
                </div>
                <div class="swiper-slide">
                    <div class="quote">
                      <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                      <p>
                        This is best and biggest unified platform
                        for instant online admission. We can easily
                        take admission for any course in any institute.
                      </p>
                      <div class="name">-Ramkishor Verma-</div>
                      <div class="designation">University Student</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="quote">
                      <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                      <p>
                        This is best and biggest unified platform
                        for instant online admission. 
                      </p>
                      <div class="name">-Ramkishor Verma-</div>
                      <div class="designation">University Student</div>
                    </div>
                </div>
                <div class="swiper-slide">
                  <div class="quote">
                    <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                    <p>
                      This is best and biggest unified platform
                      for instant online admission. We can easily
                      take admission for any course in any institute.
                    </p>
                    <div class="name">-Ramkishor Verma-</div>
                    <div class="designation">University Student</div>
                  </div>
                </div>-->
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
          </div>
        </div>
    </div>
  </div>
</section><!-- End Testimonials Section -->


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row mb-3">
      <div class="col-md-3 align-self-start">
        
      </div>
      <div class="col-md-6 align-self-center" data-aos="fade-right">
        <div class="row mt-2 justify-content-md-center" data-aos="fade-in">
          <div class="col-md-2 align-self-start">
        
          </div>

          <div class="col-md-8 align-self-center">
            <div class="info-box">
              <i class="bx bxl-github bx-fade-down-hover"></i>
              <h3>GitHub</h3>
              <p><a href="https://github.com/superriya/supriya-portfolio.git" target="_blank">My Work Link</a></p>
            </div>
          </div>
          <div class="col-md-2 align-self-end">
        
          </div>
          </div>
      </div>
      <div class="col-md-3 align-self-end">
        
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-2 align-self-start">
        
      </div>
      <div class="col-md-8 align-self-center">
        <div class="row mt-2 justify-content-md-center" data-aos="fade-left">

            <div class="col-md-6">
              <div class="info-box info-m-box">
                <i class="bx bx-map bx-fade-down-hover"></i>
                <h3>My Address</h3>
                <p>Stevenage, UK</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <i class="bx bx-envelope bx-fade-down-hover"></i>
                <h3>Email Me</h3>
                <p>supriya2872@gmail.com</p>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-2 align-self-end">
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 align-self-start">
        
      </div>
      <div class="col-md-8 align-self-center">
        <div class="row mt-2 justify-content-md-center" data-aos="fade-right">

            <div class="col-md-6">
              <div class="info-box info-m-box">
                <i class="bx bx-phone-call bx-fade-down-hover"></i>
                <h3>Call Me</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box">
                <a href="assets/pdf/Supriya_Jain_-_Front_end_Developer.pdf" target="_blank" download><i class="bx bx-download bx-fade-down-hover"></i></a>
                <h3>Hire Me</h3>
                <p>Downlode CV</p>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-2 align-self-end">
        
      </div>
    </div>

    
    

    <!--Contact Form-->
    <!--<form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Message" required=""></textarea>
      </div>
      <div class="my-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div>
      <div class="text-center"><button type="submit">Send Message</button></div>
    </form>-->

  </div>
</section><!-- End Contact Section -->
 {% endblock  %}
